.iconclass {
	display: flex;
}

.slds-card__header{
	margin: 0px !important;
}

.plain-text{
	white-space: pre-wrap; /* keeps Long Text Area line breaks, respect newline characters (\n)*/
    word-break: break-word;
    line-height: 1.3;
    padding: 0.25rem 0;
	background-color: #f3f2f2;
}

.color-container{
	background-color: #f3f2f2;
}

.label-with-icon{
	display: inline-flex; /* Align help text and icon horizontally  */
	align-items: center; /* vertically centering */
	gap: 0.25rem; /* space between text and icon */
}
